
::selection { background-color: #E13300; color: white; }
::-moz-selection { background-color: #E13300; color: white; }
html {
    overflow: auto;
}
body {
    background-color: #fff;
    margin: 40px;
    font: 13px/20px normal Helvetica, Arial, sans-serif;
    color: #fff;
    width: auto;
}

a {
    color: #4a77d4;
    background-color: transparent;
    font-weight: normal;
}

.header {
    border-bottom: 1px solid #D0D0D0; 
    margin: 0 0 14px 0;
    padding: 0px 15px 10px 15px;
    position: relative;   
}
h1 {
    color: #fff;
    background-color: transparent;
    /*border-bottom: 1px solid #D0D0D0;*/
    font-size: 19px;
    font-weight: normal;

}
.btn-inline{
    position: absolute;
    top: -4px;
    right: 15px;
    text-decoration: none;
}
code {
    font-family: Consolas, Monaco, Courier New, Courier, monospace;
    font-size: 12px;
    background-color: #f9f9f9;
    border: 1px solid #D0D0D0;
    color: #002166;
    display: block;
    margin: 14px 0 14px 0;
    padding: 12px 10px 12px 10px;
}

#body {
    margin: 0 15px 0 15px;
}

p.footer {
    text-align: right;
    font-size: 11px;
    border-top: 1px solid #D0D0D0;
    line-height: 32px;
    padding: 0 10px 0 10px;
    margin: 20px 0 0 0;
}

#container {
    margin: 10px;
    border: 1px solid #D0D0D0;
    box-shadow: 0 0 8px #D0D0D0;
}
#menu{
    position: relative;
    height: 50px;
}
#menu .nav{
    position: absolute;
    right: 0px;    
}

.nav>li>a{
    padding: 4px 10px 4px;
}
.nav>li>a.active.disabled{
    background-color: #4a77d4;
    border-color: transparent;    
}
.nav>li>a:hover{
    filter: none;
    background-color: #4a77d4;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;

}
.nav>li.active>a:hover{
    filter: none;
    background-color: #4a77d4;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    color: #ffffff;
}